<% include modules/header %>
<% include modules/addOne %>
<div class="jumbotron">
    <h1>不秀真不开心</h1>
</div>
<div class="container-fluid">
    <% showList.forEach(function(show, i){%>
        <%if(i % 3 === 0){%>
            <div class="row">
        <%}%>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="<%= show.url %>" target="_blank"><img src="<%= show.img %>" alt="..."></a>
                        <div class="caption">
                            <h3><a href="<%= show.url %>" target="_blank"><%= show.name %></a></h3>
                            <p>作者：<%= show.author %></p>
                            <p>邮箱：<a href="mailto:<%= show.email %>"><%= show.email %></a></p>
                            <p>时间：<%= show.time %></p>
                            <p>说明：<%= show.des %></p>
                        </div>
                    </div>
                </div>
        <%if((i > 0 && i % 3 === 2) || i === showList.length - 1){%>
            </div>
        <%}%>
    <%}); %>
</div>
<% include modules/requirejs %>
<script src="/static/page/index.js"></script>
<% include modules/footer %>
