<div class="thumbnail">
    <a href="<%= work.url %>" target="_blank"><img src="<%= work.img %>"></a>
    <div class="caption">
        <h3><a href="<%= work.url %>" target="_blank"><%= work.name %></a></h3>
        <p>作者：<%= work.author %></p>
        <p>邮箱：<a href="mailto:<%= work.email %>"><%= work.email %></a></p>
        <p>时间：<%= work.time %></p>
        <p>说明：<%= work.des %></p>
    </div>
</div>